.feedback {

  height: 400px;

  &-bg {

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: calc(200vh + 70px);
      left: 0;
      width: 100%;
      height: 400px;
      z-index: 2;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(5, 24, 76, 0) 84%, rgba(6, 28, 91, 0) 100%);
    }

    img {
      position: absolute;
      top: calc(200vh + 70px);
      left: 0;
      width: 100%;
      height: 400px;
    }

  }
  .container {
    width: 540px;
    position: relative;
    z-index: 2;
  }

  &-title {
    color: #ffffff;
    font-family: $main-font;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
  }

  &-content {
    color: #ffffff;
    font-family: $usual-font;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 45px;
  }

  &-form {

    input {
      border-radius: 27px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: transparent;
      color: #f3f4f6;
      font-family: $main-font;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      padding: 0 365px 0 35px;
      height: 60px;

    }

    .signup {
      @include make-button(white, 65px, 15px);
      position: relative;
      left: -185px;
      white-space: nowrap;
    }

    margin-left: 185px;

  }
}