.footer {
  height: 415px;
  background-color: #d75d0e;

  .container {
    width: 935px;
  }

  &-list {
    list-style-type: none;

    &-item {
      list-style-type: none;
    }

    &-content {
      color: #ffffff;
      font-family: $usual-font;
      font-size: 18px;
      font-weight: 400;
      line-height: 36px;
    }
  }
}