$main-font: "Roboto Slab", Helvetica, Georgia, sans-serif;
$usual-font: Roboto, Helvetica, Georgia, sans-serif;

@mixin make-button($bg-color, $xp, $yp) {
  border-radius: 27px !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background-color: $bg-color !important;
  padding: $yp $xp !important;
  text-decoration: none !important;
}

* {
  margin: 0;
  padding: 0;
}
