.products {
  min-height: 100vh;

  .container {
    width: 1210px;
  }

  &-list {
    list-style-type: none;
    margin: 15px 0;

    &-item:nth-child(odd) {
      display: flex;
      flex-direction: row-reverse;

      .more-products {
        background-color: #dd4b2b;
      }
    }

    &-item {
      margin-top: 55px;

      &:first-child {
        margin-top: 0;
      }
    }

    &-data {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: center;
    }

    &-title {
      color: #191b29;
      font-family: $main-font;
      font-size: 30px;
      font-weight: 700;
      line-height: 48px;
      margin-bottom: 25px;
    }

    &-content {
      color: #191b29;
      font-family: $usual-font;
      font-size: 16px;
      font-weight: 300;
      line-height: 30px;
    }

    .more-products {
      @include make-button(#4b4e73, 80px, 15px);
      color: #ffffff;
      font-family: $main-font;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
  }
}